* {
	box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	overflow-x: hidden;
	/* background-image: linear-gradient(to bottom, white, white, #58d182, white); */
}

.page {
	display: block;
	margin: 0 auto;
	width: 80%;
	/* border: 1px solid red; */
}




/*
=====================================
Typography
=====================================
*/

h1, h2 {
	font-size: 3rem;
	text-align: center;
	font-family: "Merriweather", serif;
	margin-block: 0;
}

p {
	color: black;
	text-align: center;
}

li {
	font-size: 1.25rem;
}

.header {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	background-color: #E9D71B;
	border: 2px solid black;
	border-left: none;
	border-right: none;
	margin: 0;
	padding: .25em 0;
	column-gap: 7.5em;
}

.header > a {
	font-family: "Roboto Slab", serif;
	color: black;
	text-decoration: none;
}

a:hover {
	opacity: 20%;
}

a:visited {
	color: black;
}






/*
=====================================
Home Page
=====================================
*/

.home-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	background-image: url("./assets/new-member-images/team.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100dvh;
	/* margin-top: 2em; */
	padding-top: 2em;
	/* border: 1px solid black; */
}

.main-img-container {
	height: auto;
	max-width: 50%;
	border-radius: 2em;
}

.main-img-container > img {
	display: block;
	height: 100%;
	width: 100%;
	border-radius: 2em;
	box-shadow: 2px 2px 3px black;
}


/*
=====================================
AI Clock
=====================================
*/

.countdown-clock {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-family: "Roboto", sans-serif;
	border: 2px solid black;
	border-top: none;
	border-left: none;
	border-right: none;
	background-color: #e8e5bc;
    padding: 1em .5em;
	column-gap: 2em;
}

.countdown-clock > h3 {
	font-size: 1.75rem;
	margin: 0;
}

.countdown-display {
    display: flex;
	align-items: center;
    justify-content: center;
    column-gap: 1em;
}

.time-unit {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
	justify-content: center;
	width: 125px;
    background: white;
    border: 2px solid black;
    border-radius: 0.5em;
    padding: .5em 5em;
	column-gap: .5em;
}

.number {
	color: #333;
    font-size: 1.375rem;
    font-weight: bold;
}

.label {
    font-size: 1.25rem;
    text-transform: uppercase;
}



/*
=====================================
Members
=====================================
*/

.members-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-top: 2em;
}

.members-container {
	display: grid;
  	grid-template-columns: repeat(5, 1fr);
	margin-block: 2em;
	padding-top: 2px;
	padding-left: 2px;
}

/* .additional {
	padding: 0 .75em 1.25em .75em;
} */

.member {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 685px;
	border: 2px solid black;
	margin-top: -2px;
	margin-left: -2px;
}


/* .member > .profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-size: 1.75rem;
	border-right: 2px solid black;
	border-radius: 2em 0 0 2em;
}

.member > .profile > p {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	font-family: "Roboto Slab", serif;
	background-color: #E9D71B;
	border-top: 2px solid black;
	border-radius: 0 0 0 1.1em;
	margin: 0;
	padding: 0 .5em;
} */

.member-img-container {
	width: 100%;
	object-fit: cover;
}

.member img {
	display: block;
	height: 100%;
	width: 100%;
}

.member-name {
	width: 100%;
	border: 1px solid black;
	border-left: none;
	border-right: none;
	font-size: 1.25rem;
	font-weight: bold;
	background-color: rgb(123, 211, 240);
	margin-top: 0;
	padding: .5em 0;
}

.member-desc {
	text-align: left;
	margin-top: 0;
	padding: .75em;
}



.member > .member-description {
	display: flex;
	align-items: center;
	width: 60%;
	font-family: "Roboto", sans-serif;
	font-size: 1.25rem;
	padding: .25em 1em;
}



/*
=====================================
Schedule
=====================================
*/












/*
=====================================
Stickers
=====================================
*/


.sticker-page {
	margin-top: 2em;
}

.sticker-page > p {
	font-family: "Roboto", sans-serif;
	font-size: 2rem;
	padding: 0 1.25em;
}

/* .sticker-grid {
	border: 1px solid red;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	background-color: white;
	gap: 11px;
	margin-top: 0;
	padding: .5em;
} */

.sticker-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1em;
    margin-top: 0;
    padding: .5em;
	background-color: white;
}

.sticker-container {
	aspect-ratio: 1;
	cursor: pointer;
	position: relative;
}

.sticker {
	height: 100%;
	width: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: all 1s ease-in-out;
}

.sticker img {
	height: 100%;
	width: 100%;
}

.sticker:hover {
	transform: rotateY(180deg);
}

.sticker > .face {
	height: 100%;
	width: 100%;
	position: absolute;
	backface-visibility: hidden;
	overflow: hidden;
}

.sticker .back {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #eaeaed;
	transform: rotateY(180deg);
}

.sticker .back > p {
	color: black;
	font-size: 1.75rem;
	margin-block: .25em;
}





/*
=====================================
About Us
=====================================
*/

.about-page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 2em;
}

.about-page > h2 {
	font-size: 2.75rem;
	margin-block: .25em;
}

.team-info {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.mission {
	display: flex;
	align-items: center;
	width: 100%;
	font-size: 1.25rem;
	font-family: "Roboto", sans-serif;
	margin-top: 1em;
	/* padding: .75em; */
}

.photo-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.team-img-cluster {
	display: flex;
	align-items: center;
	justify-content: center;
}

.team-img-cluster > .team-img-container {
	width: 50%;
}

.team-img-container {
	width: 100%;
	margin-bottom: 2em;
}

.team-img-container > img {
	display: block;
	height: 100%;
	width: 100%;
	margin: 0;
}

.team-stats {
	display: flex;
	/* flex-direction: row-reverse; */
	align-items: center;
	justify-content: center;
	width: 100%;
	padding: 1em 0;
}

#triple-jawn-container {
	/* align-self: flex-start; */
	width: 50%;
}

#triple-jawn-container > img {
	height: 100%;
	width: 100%;
}

#triple-jawn-container > p {
	font-size: 1.05rem;
}

/* .info-img-container {
    height: 100%;
    width: 35%;
}

.info-img-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
	border: 2px solid black;
} */

.stats {
	display: grid;
	width: 50%;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 1em;
	column-gap: 1em;
}

.stats li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 200px;
	border: 2px solid black;
	background-color: #E9D71B;
	font-family: "Roboto Flex";
}

.stat-header {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Roboto Slab", serif;
	font-size: 1.5rem;
	/* font-weight: bold; */
	border-bottom: 2px solid black;
	height: 30%;
	width: 100%;
	margin: 0;
}

.stat-body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70%;
	width: 100%;
	font-family: "Roboto", sans-serif;
	background-color: #58d182;
	margin: 0;
	padding: .75em;
} 






/*
=====================================
Media Queries
=====================================
*/

/* 1080p screen */
@media screen and (min-width: 1920px) {

	/* TYPOGRAPHY */
	/* header {
		font-size: 1.5rem;
	}

	h1 {
		font-size: 4rem;
	}

	.header {
		padding: .5em 0;
	} */

	/* HOME */
	/* .home-container > p {
		font-size: 2.25rem;
	}

	.countdown-clock {
		padding: 1.25em .75em;
	}

	.countdown-clock > h3 {
		font-size: 1.75rem;
	}

	.time-unit {
		min-width: 100px;
	}

	.number {
		font-size: 2em;
	}

	.label {
		font-size: 1rem;
	} */

	/* MEMBERS */
	/* .member > .profile > p {
		font-size: 2rem;
		border-radius: 0 0 0 .95em;
	}

	.member-img-container {
		border-radius: 2em 0 0 0;
	}

	.member img {
		border-radius: 1.05em 0 0 0;
	}

	.member > .member-description {
		font-size: 1.75rem;
	} */

	/* STICKERS */
	/* .sticker-page > p {
		font-size: 2.25rem;
	} */

	/* ABOUT US */
	/* .about-info {
		height: 450px;
		margin-bottom: 2em;
	}

	.mission {
		font-size: 1.75rem;
		padding: 1em;
	}

	.stats li {
		height: 300px;
	}

	.stat-header {
		font-size: 2rem;
	}

	.stat-body {
		font-size: 1.75rem;
	}

	#triple-jawn-container {
		height: 300px;
	} */
}






/* 1440p screen */
@media screen and (min-width: 2560px) {

	/* TYPOGRAPHY */
	header {
		font-size: 1.75rem;
	}

	h1 {
		font-size: 5rem;
	}

	/* HOME */
	.home-container > p {
		font-size: 2.5rem;
	}

	.countdown-clock {
		padding: 1.25em .75em;
	}

	.countdown-clock > h3 {
		font-size: 2.25rem;
	}

	.time-unit {
		min-width: 125px;
	}

	.number {
		font-size: 2.25em;
	}

	.label {
		font-size: 1.25rem;
	}

	/* MEMBERS */
	.member > .profile > p {
		font-size: 2.5rem;
	}

	.member-img-container {
	}

	.member img {
	}

	.member > .member-description {
		font-size: 2.25rem;
	}

	/* STICKERS */
	.sticker-page > p {
		font-size: 3rem;
	}

	/* ABOUT US */
	.about-info {
		height: 600px;
	}

	.mission {
		font-size: 2.25rem;
		padding: 1em;
	}

	.stats li {
		height: 400px;
	}

	.stat-header {
		font-size: 2.5rem;
	}

	.stat-body {
		font-size: 2.25rem;
	}

	#triple-jawn-container {
		height: 400px;
	}
}