* {
	box-sizing: border-box;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	/* background-image: linear-gradient(to bottom, white, white, #58d182, white); */
}


 header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 1.25rem;
	background-color: #E9D71B;
	border: 2px solid black;
}




/*
=====================================
Typography
=====================================
*/

h1 {
	font-size: 3.5rem;
	text-align: center;
	font-family: "Merriweather", serif;
	margin-block: .75em;
}

h2 {
	font-family: "Roboto Serif";
	text-align: center;
	font-size: 3rem;
	margin-block: 1.5rem;
}

p {
	font-family: "Roboto Flex";
	color: black;
	text-align: center;
}

li {
	font-size: 1.25rem;
}

.header {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 0;
	padding: .25em 0;
}

.header a {
	text-decoration: none;
	color: black;
}

a:hover {
	opacity: 20%;
}

a:visited {
	color: black;
}






/*
=====================================
Home Page
=====================================
*/

.home-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.home-container > h1 {
	margin-block: .75em;
}

.home-container > p {
	font-size: 1.75rem;
}

.team-img-container {
	height: auto;
	width: 55%;
	border: 2px solid black;
}

.team-img-container > img {
	height: 100%;
	width: 100%;
}


/*
=====================================
AI Clock
=====================================
*/

.countdown-clock {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 55%;
	border: 2px solid black;
	border-top: none;
	background-color: #E9D71B;
    margin: 0;
    padding: 1em .5em;
}

.countdown-display {
    display: flex;
    justify-content: center;
	flex-wrap: wrap;
    gap: 1em;
}

.time-unit {
    display: flex;
    flex-direction: column;
    align-items: center;
	min-width: 76px;
    background: white;
    border: 2px solid black;
    border-radius: 0.5em;
    padding: 0.5em;
}

.number {
	color: #333;
    font-size: 2em;
    font-weight: bold;
}

.label {
    font-size: 0.8em;
    text-transform: uppercase;
}



/*
=====================================
Members
=====================================
*/

.members-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 1em;
	row-gap: 1.25em;
	padding: 0 .75em;
}

.additional {
	padding: 0 .75em 1.25em .75em;
}

.member {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	border: 2px solid black;
	border-radius: 2em;
}

.member > .profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 40%;
	font-size: 1.75rem;
	border-right: 2px solid black;
	border-radius: 2em 0 0 2em;
}

.member > .profile > p {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #E9D71B;
	width: 100%;
	border-top: 2px solid black;
	border-radius: 0 0 0 1.1em;
	margin: 0;
	padding: 0 .5em;
}

.member-img-container {
	width: 100%;
	object-fit: cover;
	border-radius: 2em 0 0 0;
}

.member img {
	display: block;
	height: 100%;
	width: 100%;
	border-radius: 1.05em 0 0 0;
}



.member > .member-description {
	display: flex;
	align-items: center;
	width: 60%;
	font-family: "Roboto Flex";
	font-size: 1.25rem;
	padding: .25em 1em;
}



/*
=====================================
Schedule
=====================================
*/












/*
=====================================
Stickers
=====================================
*/


.sticker-page {
	padding-top: .25em;
}

.sticker-page > p {
	font-size: 2rem;
	padding: 0 1.25em;
}

/* .sticker-grid {
	border: 1px solid red;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	background-color: white;
	gap: 11px;
	margin-top: 0;
	padding: .5em;
} */

.sticker-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 11px;
    margin-top: 0;
    padding: .5em;
	background-color: white;
}

.sticker-container {
	aspect-ratio: 1;
	cursor: pointer;
	position: relative;
}

.sticker {
	height: 100%;
	width: 100%;
	position: absolute;
	transform-style: preserve-3d;
	transition: all 1s ease-in-out;
}

.sticker img {
	height: 100%;
	width: 100%;
}

.sticker:hover {
	transform: rotateY(180deg);
}

.sticker > .face {
	height: 100%;
	width: 100%;
	position: absolute;
	backface-visibility: hidden;
	overflow: hidden;
}

.sticker .back {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #eaeaed;
	transform: rotateY(180deg);
}

.sticker .back > p {
	color: black;
	font-size: 1.75rem;
	margin-block: .25em;
}





/*
=====================================
About Us
=====================================
*/

.about-info {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 305px;
	margin-bottom: 2em;
}

.flipped {
	flex-direction: row-reverse;
}

.mission {
	display: flex;
	align-items: center;
	height: 100%;
	width: 60%;
	border: 2px solid black;
	background-color: #E9D71B;
	font-size: 1.25rem;
	font-family: "Roboto Flex";
	padding: .75em;
}

.info-img-container {
    height: 100%;
    width: 35%;
}

.info-img-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
	border: 2px solid black;
}

.stats {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 1em;
	column-gap: 1.25em;
	margin-top: 3em;
	padding: 0 1.25em 1em 1.25em;
}

.stats li {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	height: 200px;
	border: 2px solid black;
	background-color: #E9D71B;
	font-family: "Roboto Flex";
}

.stat-header {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5rem;
	font-weight: bold;
	border-bottom: 2px solid black;
	height: 30%;
	width: 100%;
	margin: 0;
}

.stat-body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70%;
	width: 100%;
	background-color: #58d182;
	margin: 0;
	padding: .75em;
}

#triple-jawn-container {
	height: 200px;
	object-fit: cover;
}

#triple-jawn-container > img {
	height: 100%;
	width: 100%;
	border: 2px solid black;
}





/*
=====================================
Media Queries
=====================================
*/

/* 1080p screen */
@media screen and (min-width: 1920px) {

	/* TYPOGRAPHY */
	header {
		font-size: 1.5rem;
	}

	h1 {
		font-size: 4rem;
	}

	.header {
		padding: .5em 0;
	}

	/* HOME */
	.home-container > p {
		font-size: 2.25rem;
	}

	.countdown-clock {
		padding: 1.25em .75em;
	}

	.countdown-clock > h3 {
		font-size: 1.75rem;
	}

	.time-unit {
		min-width: 100px;
	}

	.number {
		font-size: 2em;
	}

	.label {
		font-size: 1rem;
	}

	/* MEMBERS */
	.member > .profile > p {
		font-size: 2rem;
		border-radius: 0 0 0 .95em;
	}

	.member-img-container {
		border-radius: 2em 0 0 0;
	}

	.member img {
		border-radius: 1.05em 0 0 0;
	}

	.member > .member-description {
		font-size: 1.75rem;
	}

	/* STICKERS */
	.sticker-page > p {
		font-size: 2.25rem;
	}

	/* ABOUT US */
	.about-info {
		height: 450px;
		margin-bottom: 2em;
	}

	.mission {
		font-size: 1.75rem;
		padding: 1em;
	}

	.stats li {
		height: 300px;
	}

	.stat-header {
		font-size: 2rem;
	}

	.stat-body {
		font-size: 1.75rem;
	}

	#triple-jawn-container {
		height: 300px;
	}
}






/* 1440p screen */
@media screen and (min-width: 2560px) {

	/* TYPOGRAPHY */
	header {
		font-size: 1.75rem;
	}

	h1 {
		font-size: 5rem;
	}

	/* HOME */
	.home-container > p {
		font-size: 2.5rem;
	}

	.countdown-clock {
		padding: 1.25em .75em;
	}

	.countdown-clock > h3 {
		font-size: 2.25rem;
	}

	.time-unit {
		min-width: 125px;
	}

	.number {
		font-size: 2.25em;
	}

	.label {
		font-size: 1.25rem;
	}

	/* MEMBERS */
	.member > .profile > p {
		font-size: 2.5rem;
		border-radius: 0 0 0 .8em;
	}

	.member-img-container {
		border-radius: 2em 0 0 0;
	}

	.member img {
		border-radius: 1em 0 0 0;
	}

	.member > .member-description {
		font-size: 2.25rem;
	}

	/* STICKERS */
	.sticker-page > p {
		font-size: 3rem;
	}

	/* ABOUT US */
	.about-info {
		height: 600px;
	}

	.mission {
		font-size: 2.25rem;
		padding: 1em;
	}

	.stats li {
		height: 400px;
	}

	.stat-header {
		font-size: 2.5rem;
	}

	.stat-body {
		font-size: 2.25rem;
	}

	#triple-jawn-container {
		height: 400px;
	}
}